.clock {
    position: absolute;
    top: 3%;
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}
.date {
    position: absolute;
    top: 3%;
    left: 35%;
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #1E94A0;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  background-color: black;
}
.weather {
    position: absolute;
    top: -12%;
    left: 83%;
    width: 295px;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}
.todo {
    position: absolute;
    top: 80%;
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
    }
.network {
    position: absolute;
    top: 70%;
    left: 75%;
    color: #17D4FE;
    font-size: 30px;
    font-family: Orbitron;
    letter-spacing: 7px;
    }